name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup
      uses: actions/setup-python@v3
      with:
        python-version: '3.10' 
    - name: Pre-commit
      uses: pre-commit/action@v3.0.0
